$colTwitter: #00749E;
$colLinkedin: #0071AD;
$colFace: #365899;
$color_1: orange;
$color_2: white;
$color_3: #fff;
$color_4: grey;
$color_5: black;
$font-family_1: 'Lato', sans-serif;
$font-titulos: 'Orbitron', sans-serif;;

$verdePlanta: #94B30D;
$verdeKhan: #9DB63B;
$verdeVintage: #7E9B7D;
$azulTriada: #197BFF;
$negroCode: #282C34;
$links: #1B95E0;
$negroGris: #505868;
$rojoCode: #C43627;
$verdeCode: #98EE9A;

.bgCodigo{
	background: $negroCode;
	padding: .5rem;
	padding-bottom: 0;
	color: white;
	&:last-child{
		padding-bottom: .5rem;
	}
	.rojo{
		color: $rojoCode;
	}
	.verde{
		color: $verdeCode;
	}

}
.tabLeft-1{
	padding-left: 1.5rem;
}
.tabLeft-2{
	padding-left: 2.5rem;
}


/*----------Estructura-------------*/
.col-general {
	float: left;
	padding: 15px;
}
.col-1 {
	float: left;
	padding: 15px;
	width: 8.33%;
}
.col-2 {
	float: left;
	padding: 15px;
	width: 16.66%;
}
.col-3 {
	float: left;
	padding: 15px;
	width: 25%;
}
.col-4 {
	float: left;
	padding: 15px;
	width: 33.33%;
}
.col-5 {
	float: left;
	padding: 15px;
	width: 41.66%;
}
.col-6 {
	float: left;
	padding: 15px;
	width: 50%;
}
.col-7 {
	float: left;
	padding: 15px;
	width: 58.33%;
}
.col-8 {
	float: left;
	padding: 15px;
	width: 66.66%;
}
.col-9 {
	float: left;
	padding: 15px;
	width: 75%;
}
.col-10 {
	float: left;
	padding: 15px;
	width: 83.33%;
}
.col-11 {
	float: left;
	padding: 15px;
	width: 91.66%;
}
.col-12 {
	float: left;
	padding: 15px;
	width: 100%;
}
.row {
	width: 100%;
	&:after {
		content: "";
		clear: both;
		display: block;
	}
}
.clear {
	clear: both;
}
.active{
	background: $negroCode;
	color: $verdeKhan !important;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	a {
		text-decoration: none;
		cursor:pointer;
		color: $links;
	}
}
html {
	font-family: $font-family_1;
	font-size: 16px;
	color: $negroCode * 2;
}
body{
	background:#f1f1f1;
}
h1,h2{
	font-family: $font-titulos;
}
.centrar {
	margin-right: auto;
	margin-left: auto;
}
.icon-font{
	color:$negroCode;;
	font-size:2rem;
	display: inline-block;
	text-align: left;
	padding: .7rem 1rem;

}
.icon-font-hover{
	background: $negroCode;
	color: $verdeKhan;
}
/*  PERFIL*/
#foto-principal{
	// background-image: url("../img/fotoPerfil.jpg");
	h2{
		color:$negroGris;
		padding: 8rem 1rem 4rem 1rem;
		text-align: center;
		font-size: 4rem;

	}
	@media only screen and(max-width: 767px) {
		h2{
			font-size: 2.5rem;
			padding: 7rem 1rem 2rem 1rem;
		}
	}
	@media only screen and(max-width: 767px) {
		h2{
			font-size: 2rem;
			padding: 7rem 1rem 2rem 1rem;
		}
	}

}
#principal{
	padding: 1rem;
	overflow: hidden;
	background: white;

	#sobre-mi{
		padding: 1rem;
		width: 30%;
		float: left;


		h3{
			font-size: 2rem;
			margin-bottom: 2rem;
			text-align: center;
			background: $negroGris;
			color: white;

			padding: 1rem;
		}
		#imgPerfil{
			img{
				// display: block;
				margin: 0 auto;
				width: 150px;
				border-radius: 50%;
				padding: 1rem;
				float: left;
			}
		}
	}
	#info{
		// @extend #sobre-mi;
		padding: 1rem;
		width: 60%;

		float: right;
		.info-caja{
			background: white;
			span{
				margin: 0 1rem 1rem 0;
				font-size: 2rem;
			}
			h3{
				font-size: 2rem;
				display: inline-block;
				margin: 1rem 0;
			}

			ul li{
				list-style: none;
			}
			ul#tools{
				li{
					display: inline-block;
					padding: .5rem;
					margin-left: .5rem;
					border: 1px solid $verdeKhan;
					border-radius: 6px;
				}
			}
		}
	}
}
@media only screen and(max-width: 768px) {
	#principal{
		padding: 0;
		#sobre-mi, #info{
			display: block;
			float: none;
			width: 100%;
		}
		#sobre-mi{

			#imgPerfil{
				display: block;
				margin-bottom: 1rem;
				img{
					width: 130px;
					display: block;
					float: none;
					margin: 0 auto;
					}

			}
			p{
				width: 80%;
				margin: 0 auto;
			}
		}
		#info{

		}
	}

}
@media only screen and(max-width: 374px) {
	#principal{
		#sobre-mi{
			h3{
				font-size: 1.6rem;
			}
		}
		#info{
			span{
				display: none;
			}
		}
	}
}
@media only screen and(min-width: 768px) {
	#principal{
		#sobre-mi{
			float: left;
		}
		#info{
			float: right;
			background: white;
		}
	}
	.noClear{
		clear: none !important;
	}
}



#main {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	min-width: 320px;
	background-color:white;
/* INICIO NAV BAR FOR DESKTOP */
	nav#navBar div[class^="col-"], nav#navBar ul[class^="col-"]{
		padding: .5rem 0;
	}
	@media only screen and(min-width: 841px){
		.col-3{
			width: 30%;
		}
		.col-6{
			width:40%;
		}
		#navBar-Desplegable{
			display: none;
		}
	}
	nav#navBar{
		padding: 0;
		margin: 0;
		position: fixed;
		top: 0;
		z-index: 10;
		background: $verdeKhan;
		border-bottom: 2px solid $verdeKhan /4;
		#bars-icon{
			display: none;
		}
		div#home-icon{
			padding: 0;
			a.fa.fa-home{
				color:$negroCode;
				font-size:2rem;
				padding: .7rem 1rem;
				text-decoration: none;
				display: inline-block;
				&:hover{
					background: $negroCode;
					color: $verdeKhan;
				}
			}
		}

		/*INICIO  NAV BAR QUERYS PRA PHONES*/
		@media only screen and(min-width: 318px) and(max-width: 640px){
			.col-3{
				width: 20%;
			}
			.col-6{
				width: 60%;
			}
			div#home-icon{
				padding: 0;
				a.fa.fa-home{
					color:$negroCode;
					font-size:2rem;
					padding: .7rem 1rem .8rem 1rem;
					text-decoration: none;
					display: inline-block;
					&:hover{
						background: $negroCode;
						color: $verdeKhan;
					}
				}
			}
			div#logo{
				padding:0;
				h1{
					padding: .55rem .3rem;
					font-family: $font-titulos;
					a{
						font-size: 1.5rem;
						span.fa.fa-share-alt{
							font-size: 1.5rem;
							padding: 0 .3rem;
						}
					}
				}
			}
			ul#navBar-ul{
				display: none;
				background: $verdeKhan;
				overflow: hidden;
				position:absolute;
				top: 54px;
				width: 100%;
				border-radius: 0 0 5px 5px;
				li{
					width: 100%;
					a{
						text-align: center;
						color: $verdeKhan;
					}
				}
			}
			#navBar-ul #menu-icon.fa.fa-bars{
				display: block;
				color: $negroCode;
				display: block;
				font-weight: 600;
				&:hover,&:active{
					color:$verdeKhan;
					background: $negroCode;
					cursor: pointer;
				}
			}
			#bars-icon{
				display: block;
				float: right;
				padding: 0;
				span.fa.fa-bars{
					color:$negroCode;;
					font-size:2rem;
					padding: .7rem 1rem;
					float: right;
					&:hover{
						background: $negroCode;
						color: $verdeKhan;
						cursor: pointer;
					}
				}
			}
		}
		/*FIN NAV BAR QUERYS PRA PHONES*/

		/*INICIO NAV BAR QUERYS PARA TABLETS*/
		@media only screen and(min-width: 641px) and(max-width: 840px){
			ul#navBar-ul{
				display: none;
			}
			div#home-icon{
				a.fa.fa-home{
					&:hover{
						background: $negroCode;
						color: $verdeKhan;
					}
				}
			}
			div#logo{
				padding:0;
				h1{
					padding: .55rem 1rem;
					font-size: 1.8rem;
					a{
						span.fa.fa-share-alt{
							font-size: 2rem;
							padding: 0 .3rem;
						}
					}
				}
			}
			#bars-icon{
				display: inline-block;
				float: right;
				padding: 0;
				span.fa.fa-bars{
					color:$negroCode;;
					font-size:2rem;
					padding: .7rem 1rem;
					float: right;
					&:hover{
						background: $negroCode;
						color: $verdeKhan;
						cursor: pointer;
					}
				}
			}
		}
		div#logo{
			h1{
				margin: 0;
				width: 100%;
				text-align: center;
				color: white;
				letter-spacing: 2px;
				font-size: 2rem;
				a{
					color: white;
					span.fa.fa-share-alt{
						color: $negroCode;
					}
					span.span-code{
						color: $negroCode;
					}
				}
			}
		}
		ul#navBar-ul{
			padding: 0;
			margin: 0;
			li{
				font-family: $font-titulos;
				display: inline-block;
				float: right;
				a{
					text-decoration: none;
					color: $negroCode;
					padding: 1.2rem 1rem;
					display: block;
					font-weight: 600;
					&:hover{
						background: $negroCode;
						color: $verdeKhan;
					}
				}
			}
		}
		span#menu-icon{
			display: none;
		}
	}
	#navBar-ul #menu-icon.fa.fa-bars{
		display: block;
		color: $negroCode;
		display: block;
		font-weight: 600;
		&:hover{
			color:$verdeKhan;
			background: $negroCode;
			cursor: pointer;
		}
	}
	#navBar-Desplegable{
		opacity: .9;
		display: none;
		padding: 0;
		background: $negroCode;
		position: fixed;
		top:55px;
		right: 0;
		width: 50%;
		z-index: 50;
		@media only screen and(min-width: 318px) and(max-width: 640px){
			width:100%;
			// opacity: 1;
		}
		li{
			display: block;
			a{
				text-decoration: none;
				text-align: center;
				color: $verdeKhan;
				padding: 1.2rem 1rem;
				display: block;
				font-weight: 600;
				&:hover{
					background: $verdeKhan;
					color: $negroCode;
				}
			}
		}
	}

	#cabecera {
		background-image: url("../img/code2.jpeg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0 35px;
		height: 300px;
		margin-bottom: 2rem;
		@media only screen and(min-width: 320px){

		}
		h2{
			text-align: center;
			color: white;
			font-size: 3.5rem;
			position: relative;
			top: 150px;
			span{
				color: $verdeKhan;
			}
		}
		@media only screen and (max-width: 960px){
			h2{
				font-size: 2.5rem;
				top: 160px;
				color: white;
				span{
					color:$verdeKhan;
				}

			}
		}
		@media only screen and (max-width: 480px){
			h2{
				font-size: 2.1rem;
				top: 130px;
				span{
					color:$verdePlanta;
				}

			}
		}

	}
	/* INICIO FOR PHONES*/

	#resumen-articulo{
		width: 100%;
		margin-top: 1rem;
		padding: 1rem;
		.articulo{
			overflow: hidden;
			padding: 1rem;
			border: 1px solid #ccc;
			div.articulo-datos{
				h2 a{
					font-size: 1.3rem;
					color:$verdeKhan !important;
					a{

					}
				}
				p a{
					color: grey;
				}
				p.fecha{
					margin-bottom: 1rem;
					padding-bottom: .5rem;
					border-bottom: 1px dotted #ccc;
				}
				p time{
					color: grey;

				}
				article.articulo-contenido{
					margin-top: 10px;
					p a{
						color:$links;
					}
					div.img-resultado{
						width: 50%;
						img{
							text-align: center;
							width: 100%;
						}
					}
				}
				.articulo-pie{
					margin: 2rem 0 .5rem 0;
				}
			}
		}
	}

	@media only screen and(min-width: 320px) and(max-width: 640px){
		#resumen-articulo{
			padding: .5rem;
			.articulo{
				padding: .5rem;
			}
			.bgCodigo{
				font-size: .8rem;
			}
		}
		#cabecera{
			background-size: contain;
			height: 230px;
			background-position: 0 20px;

			@media only screen and(min-width: 455px) and(max-width: 640px){
				background-size: cover;
				height: 270px;

			}
			h2{
				font-size: 2rem;
				top: 95px;
			}
		}
	}
	@media only screen and (max-width: 767px){
		#recursos{
			display: none;
		}
	}

	@media only screen and (min-width: 768px){
		#resumen-articulo{
			width: 70%;
			float: left;
			#bienvenida{
				width: 100%;

				h2{
					font-size: 3rem;
					text-align: center;
					margin-bottom: 2rem;
				}
			}

		}
		#recursos{
			float: left;
			width: 30%;
			margin-top: 1rem;
			padding: 1rem;
			h3{
				background: $verdeKhan;
				padding: 1rem;
				text-align: center;
			}
			ul{
				padding: 1rem;
				li{
					list-style: none;
					padding: .5rem 0;
					color: $negroGris;
					a{
						color: #999;

						&:hover{
							// font-size: 1.1rem;
							color: $verdeKhan;
						}
					}
				}

			}
		}
		#navBar-Desplegable{
			width: 30%;
			#liPerfil{
				display: none
			}
		}

	}

	#contacto{
		padding: 2rem 20%;
		font-size: .8rem;
		background: $verdeKhan;
		margin-top: 2rem;
		p{
			text-align: center;
			color: #444;
			a{
				color: #444;
				&:hover{
					color: gray;
				}
			}
		}
		p#redes-bricode{
			a{
				font-size: 2rem;
				padding: 1rem;
				&:hover{
					color: gray;
				}
			}
		}
	}
}
// ESTILOS PARA MENU DEPLEGABLE
.menu-toggle{
      width: 40%;
	  color: $verdeKhan;
      background: $negroCode;
      padding: 0;
      position: absolute;
      top: 54px;
      right: 0;
	//   display: none;
  ul{
    padding: 0;
    li{
      list-style-type: none;
	  &:hover{
		  border-bottom: 2px solid $verdeKhan;
	  }
	  a{
		padding: .5rem;
        display: block;
        color: $verdeKhan;
        text-decoration: none;
        text-align: center;
        &:hover{
          background: $negroCode;
          color:white;;
        }
      }
    }
  }
}
#bienvenida{
	margin: 2rem;
	margin-bottom: 4rem;
}
#titulo-art{
	margin: 2rem;
	// text-align: center;
	font-size: 2rem;
}
